/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Фон страницы */
  --background-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
 
  /* Цвета */
  --accent-color: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --shadow-color: #ff0070;
  --footer-shadow-color: #ff0070;
 
  /* Класс title-decor */
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
 
  /* Типографика */
  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
 
  /* Отступы */
  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 50px;
  --spacing-xl: 60px;
}
 